REACT_APP_API_URL=http://localhost:8080/api
REACT_APP_EMAILJS_SERVICE_ID=
REACT_APP_EMAILJS_TEMPLATE_REGISTRATION=
REACT_APP_EMAILJS_TEMPLATE_RECEIVED=
REACT_APP_EMAILJS_TEMPLATE_APPROVED=
REACT_APP_EMAILJS_TEMPLATE_REJECTED=
REACT_APP_EMAILJS_TEMPLATE_ADMIN_RECEIVED=
REACT_APP_EMAILJS_PUBLIC_KEY=
REACT_APP_ESENA_EMAIL=grofinng@gmail.com
